@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@100&family=Open+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  justify-content: center;
}
.link {
  color: #1293d4;
}
span {
  color: #1293d4;
}
header {
  align-items: center;
  display: flex;
  padding: 20px 152px;
  width: 100vw;
  justify-content: space-between;
  color: white;
  background-color: #24282b;
  border-bottom: 5px solid #1293d4;
}

header nav {
  padding: 10px;
  display: flex;
  gap: 50px;
}

header nav a {
  text-decoration: none;
  color: white;
}

section {
  display: flex;
  background: url(/images/cabecera.jpg) 0 -400px;
  background-size: cover;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

h2 {
  font-size: 40px;
}

.caja1 {
  background-color: #24282b;
  height: 100px;
  color: white;
}

.button {
  float: right;
  margin: -68px 100px 0 0;
}
button {
  background: none;
  border: none;
  background-color: #f2491d;
  border: 1px solid #f2491d;
  padding: 11px;
  color: white;
}
input {
  padding: 5px;
}
h3 {
  padding: 29px 152px;
  width: 100vw;
  font-size: 28px;
}

.caja2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

footer {
  display: flex;
  background-color: #1293d4;
  height: 100px;
  color: white;
  align-items: center;
  justify-content: center;
}

.contenedor {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 0 150px;
}

.contenedor1 {
  width: 70%;
}

.cajamovible {
  background-color: #35424a;
  height: 100%;
  color: white;
  padding: 38px;
  width: 30%;
  margin: 27px;
  margin-bottom: 10%;
  height: 250px;
}

.contenedor2 {
  color: black;
  text-align: justify;
  margin-bottom: 20px;
}

.contenedor3 {
  background-color: #35424a;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
}

.contenedor4 img {
  width: 100%;
  margin-bottom: 20px;
}

.gris {
  background-color: #e6e6e6;
  border: 1px solid #cccccc;
  margin-bottom: 20px;
  padding: 51px;
}

.cajastexto {
  margin-bottom: 20px;
}
.titulo {
  font-size: 21px;
}
.texto {
  padding: 15px;
  width: 100%;
}
.mensaje {
  width: 100%;
  padding: 65px;
}

.cajamovible img {
  margin-left: -8%;
  width: 119%;
  margin-top: 10%;
  height: 150%;
}
