* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  justify-content: center;
}
.link {
  color: #1293d4;
}
span {
  color: #1293d4;
}
header {
  align-items: center;
  display: flex;
  padding: 20px 152px;
  width: 100vw;
  justify-content: space-between;
  color: white;
  background-color: #24282b;
  border-bottom: 5px solid #1293d4;
}

header nav {
  padding: 10px;
  display: flex;
  gap: 50px;
}

header nav a {
  text-decoration: none;
  color: white;
}

section {
  display: flex;
  background: url(../aplicacion/images/cabecera.jpg) 0 -400px;
  background-size: cover;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
h2 {
  font-size: 50px;
}

.caja1 {
  background-color: #24282b;
  height: 100px;
  color: white;
}

.button {
  float: right;
  margin: -54px 81px 0 0;
}

button {
  background: none;
  border: none;
  background-color: #f2491d;
  border: 1px solid #f2491d;
  padding: 10px;
  color: white;
}
input {
  padding: 5px;
}
h3 {
  float: left;
  margin: 50px 0 50px 60px;
}

.caja2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

footer {
  display: flex;
  background-color: #1293d4;
  height: 100px;
  color: white;
  align-items: center;
  justify-content: center;
}
